<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
</head>
<body>
<div th:fragment="footer" class="footer">
<div class="sns">
  <ul class="sns-icon">
    <li><a href="#" class="youtube"><img src="images/sns_youtube.png" alt="youtube"></a></li>
    <li><a href="#" class="blog"><img src="images/sns_n_blog.png" alt="blog"></a></li>
    <li><a href="#" class="instar"><img src="images/sns_instagram.png" alt="instar"></a></li>
  </ul>
</div>

<div class="bto-nav">
  <ul class="btnav-ti">
    <li><a href="#">ABOUT</a></li>
    <li><a href="#">SERVICE</a></li>
    <li><a href="#">CONTACT</a></li>
    <li><a href="#">CARDGORILLA</a></li>
    <li><a href="#">GOSTY</a></li>
    <li><a href="#">SEONGSUDONGGORILLA</a></li>
  </ul>
</div>
<div class="addrese">
  <ul class="addrese-ti">
    <li>㈜고릴라디스트릭트</li>
    <li>대표이사 : 고승훈</li>
    <li>사업자등록번호 : 872-87-01176</li>
    <li>서울특별시 성동구 상원6길 8-14 빌라드 고릴라</li>
    <li>광고/제휴문의 : contact_c@gorilladistrict.com</li>
    <li><a href="#">고객문의</a></li>
  </ul>
</div>
<p class="foo-ar">© 2010-2025 CardGorilla All Rights Reserved.</p>
</div>
</body>
</html>