<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
</head>
<body>

<h1>내 정보</h1>

<form action="/member/info" method="post">

    <p>로그인 ID:
        <span th:text="${member.loginId}"></span>
    </p>

    <p>이름:
        <input type="text" name="name" th:value="${member.name}">
    </p>

    <p>영문 이름:
        <input type="text" name="enName" th:value="${member.enName}">
    </p>

    <p>이메일:
        <input type="email" name="email" th:value="${member.email}">
    </p>

    <p>생일:
        <input type="date" name="birth"
               th:value="${member.birth}">
    </p>

    <button type="submit">정보 수정</button>
</form>

<form action="/member/delete" method="post" style="margin-top:20px;">
    <button type="submit" style="color:red;">회원 탈퇴</button>
</form>

<p><a href="/">홈으로</a></p>

</body>
</html>
