<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h1>로그인</h1>

<form action="/member/login" method="post">
    <input type="text" name="loginId" placeholder="아이디"><br>
    <input type="password" name="password" placeholder="비밀번호"><br>
    <button type="submit">로그인</button>
</form>

<div th:if="${msg}" style="color:red;">
    <p th:text="${msg}"></p>
</div>

<p><a href="/member/signup">회원가입</a></p>

</body>
</html>
