/* Reset */
* {
    margin: 0;
    padding: 0;
}
ul { list-style: none; }
a { color: #000; text-decoration: none; }
img { display: block; border: 0; }

/* Banner */
.banner {
    width: 100%;
    height: 340px;
    margin-top: 100px;
    background-color: #F5F5F5;
}

.swiper {
    width: 1220px;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.swiper-slide img {
    width: 860px;
    height: 100%;
    object-fit: cover;
}

/* 카드 추천 영역 */
.main-card-title,
.inner-card {
    width: 1220px;
    margin: 60px auto 0;
}

.main-card-title h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.cardti {
    display: flex;
    justify-content: space-between;
}

.cardti li {
    width: 122px;
    height: 145px;
    text-align: center;
}

.cardti img {
    width: 74px;
    height: 74px;
    border-radius: 30px;
}

.cardti h5 {
    font-size: 15px;
    margin-top: 20px;
    color: #222;
}
.cardti h5 span {
    font-size: 12px;
    font-weight: 500;
}
.cardti p {
    font-size: 14px;
    font-weight: 500;
    color: #888;
}

/* 중간 카드 리스트 */
.inner-card h2 {
    margin-bottom: 50px;
}

.inner_car {
    display: flex;
    justify-content: space-between;
}

.inner_car li {
    width: 170px;
    height: 230px;
    text-align: center;
    position: relative;
    margin: 10px 0;
}

.circle {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: #f5f5f5;
    border-radius: 50%;
    position: relative;
}

.circle img {
    width: 76px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 46px;
    transition: 0.2s ease;
}

.inner_car li:nth-child(6) .circle img {
    width: 120px;
    height: 76px;
    left: 26px;
    top: 21px;
}

.circle img:hover {
    transform: translateY(-10px);
}

.inner_car h5 {
    margin-top: 13px;
    font-size: 15px;
}

.com {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin-top: 2px;
}

.money {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 12px;
    background-color: #fceccf80;
    color: #de7d00;
    border: 1px solid;
    border-radius: 40px;
}

/* 게시판 이미지 */
.m_hide {
    width: 800px;
    margin: 60px auto 0;
}

/* 영상 */
.video-wrap {
    width: 800px;
    margin: 50px auto 100px;
}
