*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: black; text-decoration: none;}
img{vertical-align: top; border: 0;}

.banner{
  width: 100%;
  height: 340px;
  background-color: #F5F5F5;
  margin-top: 100px;
}
.swiper {
      width: 1220px;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #F5F5F5;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 860px;
      height: 100%;
      object-fit: cover;
    }

    .main-card-title{
      width: 1220px;
      margin: 0 auto;
      margin-top: 60px;
    }
    .main-card-title h2{
      font-size: 28px;
      margin-bottom: 40px;
    }
    .main-card-title .cardti{
      display: flex;
      justify-content: space-between;
    }
    .main-card-title .cardti li{
      width: 122px;
      height: 145px;
      text-align: center;
      /* border: 1px solid; */
    }
    
    .main-card-title .cardti li img{
      width: 74px;
      height: 74px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
    }

    .main-card-title .cardti li h5{
      font-size: 15px;
      margin-top: 20px;
      color: #222222;
    }
    .main-card-title .cardti li h5 span{
      font-size: 12px;
      font-weight: 500;
    }
    .main-card-title .cardti li p{
      font-size: 14px;
      font-weight: 500;
      color: #888888;
    }

    .inner-card{
      width: 1220px;
      margin: 0 auto;
      margin-top: 60px;
    }
    .inner-card h2{
      margin-bottom: 50px;
    }
    .inner-card .inner_car{
      display: flex;
      justify-content: space-between;
    }
    .inner-card .inner_car li{
      width: 170px;
      height: 230px;
      margin: 10px 0px;
      position: relative;
      text-align: center;
    }
    .inner-card .inner_car li a .crecle{
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background-color: #f5f5f5;
      border-radius: 100%;
      
    }
    .inner-card .inner_car li:nth-child(6) a .crecle img{
      width: 120px;
      height: 76px;
      top: 21px; left: 26px;
    }
    .inner-card .inner_car li a .crecle img{
      width: 76px;
      height: 120px;
      position: absolute;
      top: 0; left: 46px;
      transition: all 0.2s;
    }
    .inner-card .inner_car li a .crecle img:hover{
      transform: translate(0,-10px);
    }
    .inner-card .inner_car li a h5{
      margin-top: 13px;
      font-size: 15px;
    }
    .inner-card .inner_car li a .com{
      font-size: 14px;
      font-weight: 500;
      color: #888888;
      margin-top: 2px;
    }
    .inner-card .inner_car li a .money{
      margin-top: 5px;
      font-size: 14px;
      font-weight: bold;
      background-color: #fceccf80;
      color: #de7d00;
      border: 1px solid;
      border-radius: 40px;
      padding: 5px 12px;
    }
    .m_hide{
      width: 800px;
      margin: 0 auto;
      margin-top: 60px;
    }
    