*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: black; text-decoration: none;}
img{vertical-align: top; border: 0;}

input{
  border: 0px;
  margin-top: 20px;
  width: 500px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #eee;
}
button{
  border: 0px;
  margin-top: 20px;
  width: 110px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
}

section{
  width: 100%;
  height: 100%;
}
.login-arr{
  margin: 0 auto;
  margin-top: 200px;
  width: 800px;
  align-items: center;
  text-align: center;
}

