*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: black; text-decoration: none;}
img{vertical-align: top; border: 0;}



input{
  border: 0px;
  margin-top: 15px;
  width: 500px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #eee;
}
button{
  border: 0px;
  margin-top: 10px;
  width: 550px;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  background-color: rgb(113, 150, 224);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  /* margin-left: 20px; */
  cursor: pointer;
}

section{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.sign{
  margin: 0 auto;
  margin-top: 150px;
  width: 800px;
  align-items: center;
  text-align: center;
}
.signin{
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.mailicon{
  position: absolute;
  top: 23px;
  left: 40px;
}
.mailicon img{
  width: 30px;
  height: 30px;
}
.kakao{
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;

}
.kakaolog{
  width: 550px;
  /* margin-left: -5px; */
  color: rgba(0, 0, 0, 0.914);
  background: rgba(255, 255, 0, 0.94);
  border: 1px solid rgba(136, 136, 136, 0.285);
  
}
.kalogo img{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 23px; left: 40px;
}
.google{
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.googlelog{
  background-color: #fff;
  border: 1px solid rgb(162, 162, 162);
}
.goologo img{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 23px;
  left: 40px;
}
